@model GerenciadorDeClientes.Web.Application.DTOs.ClienteDTO;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}

@section styles {
    <style>
        .label-nome, .label-email {
            text-align: center;
        }

        .label-nome {
            margin: 0;
            font-family: Geomanist-Regular;
        }

        .label-email {
            margin-bottom: 40px;
            color: #2f2f2f;
        }

        .btn-deletar {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        #imgLogotipo {
            max-width: 64px;
            max-height: 64px;
        }

        .card-info{
        min-width: 250px;}
    </style>
}

<div class="text-start d-flex justify-content-between align-items-center">
    <p class="display-6">Clientes/ Excluir</p>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div class="row mb-5">

    @if (ViewBag.SucessoNaExclusao != null)
    {
        <div class="col-md-6 mx-auto d-flex justify-content-center flex-column align-items-center mt-5">
            <div class="alert alert-success">Registro excluido com sucesso</div>
            <a href="@Url.Action("Index", "Cliente", new { pagina = 1, registros = ViewBag.RegistrosPorPagina})" class=" btn btn-success btn-lg">Ok</a>
        </div>
    }
    else
    {
        var cliente = Model;

        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="card shadow-sm card-info">
                <div class="d-flex align-items-center justify-content-center pt-5 pb-3" width="100%">
                    @{
                        var srcImage = "/images/logo.png";
                        if (!string.IsNullOrWhiteSpace(cliente.Logotipo))
                            srcImage = cliente.Logotipo;
                    }
                    <img id="imgLogotipo" src="@srcImage" />
                </div>

                <div class="card-body">
                    <p class="label-nome">@cliente.Nome</p>
                    <p class="label-email">@cliente.Email</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-sm btn-outline-secondary d-none">Endereços</button>
                    </div>
                </div>
            </div>
            <h2 style="max-width: 500px;" class="text-center mb-3">Deseja realmente excluir o cliente e todos os seus dados?</h2>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <a href="@Url.Action("Index", "Cliente", new { pagina = 1, registros = ViewBag.RegistrosPorPagina})" class=" btn btn-danger me-3">Não</a>

                <form action="@Url.Action("ExcluirCliente", "Cliente")" method="post">
                    <input type="hidden" value="@cliente.Id" name="Id" />
                    <button type="submit" class="btn btn-primary">Sim</button>
                </form>
            </div>
        </div>
    }

</div>
